.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1000; /* Để đảm bảo nút ở trên cùng */
  }
  
  .back-to-top-button.visible {
    opacity: 1;
  }