@media (min-width: 992px) {
    .header-carousel,
    .page-header {
        margin-top: -34px;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(3, 27, 78, .3);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--bs-primary);
    border: 15px solid var(--bs-primary);
}

@media (max-width: 767.98px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(3, 27, 78, .3), rgba(3, 27, 78, .3)), url(./chung-cu-minato-hai-phong-89.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--bs-white);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--bs-white);
}

.about-star{
    background-color: #f2f2f2;
}

.post-body{
    text-align: center;
    margin-inline: 94px;
    /* padding: 82px; */
    background-color: white;
    margin-inline-start: 94px;
    padding-inline: 73px;
}

.img-sty{
    width: 100%;
    text-align: center;
}

.img-container{
    width: 100%;
}

.text-align{
    text-align: justify;
}

@media (max-width: 1199px){
.section-padding {
    padding: 80px 0;
}
}