/* styles.scss */
@import 'bootstrap/scss/bootstrap';
.user-dt-container{
    display: flex;
    justify-content: center;
    align-items: center;

    div.img-user{
        width: 40%;
        height: 150px;
        background-color:white ;
        text-align: center;
    }
    .btn{
        color: black;
       padding-bottom: 10px;

    }
    div.info{
       margin: 5px;
        
    }
    .rounded{
        width: 100%;
        height: 100%;
        margin: auto;
    display: block;
       
    }
    div.info-left{
        border-radius: 20px;
        border: 1px solid black
    }
    div.info-right{
        border-radius: 20px;
        border: 1px solid black
    }
    div.btn{
        display: inline-flex;
    }
}


